body{
    background-position: center;
    background-size: cover;
}

.btn1{
    border-radius: 20;
    width: 10cm;
 font-size: 20;
}

canvas{
    box-shadow: 5px 5px 5px grey;
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 300px;
    margin-bottom: 50px;
}
